<main fxLayout="row">
  <section class="side-menu" fxLayout="column" fxLayoutAlign="space-between">
    <header>Title</header>
    <nav>
      <ol>
        <li>
          <a><mat-icon>home</mat-icon>
            <p>Início</p>
          </a>
        </li>
        <li>
          <a><mat-icon>person</mat-icon>
            <p>Sobre mim</p>
          </a>
        </li>
        <li><a><mat-icon>business_center</mat-icon>
            <p>Experiência</p>
          </a></li>
        <li><a><mat-icon>layers</mat-icon>
            <p>Projetos</p>
          </a></li>
        <li><a><mat-icon>comment</mat-icon>
            <p>Contato</p>
          </a></li>
      </ol>
    </nav>
    <footer id="developedBy">
      <p>© 2023 Samuel de Carvalho</p>
    </footer>
  </section>
  <section class="content-container">
    teste
  </section>
</main>
