@use '/src/palletes/main-pallete' as pallete;

@keyframes ScrollDownAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

.side-menu-container {
  width: 100%;
  max-width: 286px;
}

section.side-menu {
  width: 100%;
  max-width: 286px;
  height: 100vh;
  padding: 50px 40px 40px;
  position: fixed;
  border-right: solid 1px pallete.getColor(primary, 400);
  background-color: pallete.getColor(primary, 600);

  .nav-container {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }

  header {
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  nav a{
    display: flex;
    align-items: center;
    font-weight: bold;
    user-select: none;
    text-decoration: none;

    p {
      padding-top: 4px;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover {
      cursor: pointer;

      p {
        color: pallete.getColor(terciary, 500);
      }
    }

    mat-icon {
      color: pallete.getColor(terciary, 500);
      margin-right: 12px;
    }
  }

  nav li {
    margin-bottom: 24px;
  }

  nav li:last-child {
    margin-bottom: 0;
  }

  #developedBy p {
    font-size: smaller;
    color: pallete.getColor(primary, 300);
  }
}


#foto{
  width: 128px !important;
  height: 128px !important;
  background-color: white;
  border-radius: 50%;
}

.content-container {
  overflow: hidden;
}

.home-content {
  width: 100%;
  height: 100vh;
  position: relative;

  .home-content-title-container {
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-block: 24px 12px;
    }

    h2 {
      color: pallete.getColor(primary, 50);
      margin-bottom: 24px;
    }
  }

  #scroll-down-button {
    position: absolute;
    bottom: 15px;
    animation: ScrollDownAnimation 1s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);

    img {
      height: 32px;
      width: 32px;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    };
  }
}

.about-content {
  width: 100%;

  .about-content-container {
    border-radius: 24px;
    background-color: pallete.getColor(primary, 700);
    padding: 32px 24px 24px 24px;

    footer {
      mat-chip {
        margin-bottom: 8px;
        background-color: pallete.getColor(primary, 400);

        ::ng-deep {
          * {
            color: pallete.getColor(primary, 100);
          }
        }
      }
    }
  }

  .about-description {
    p {
      line-height: 1.7;
      margin-bottom: 24px;
    }
  }
}

.experience-section {
  .experience-board {
    background-color: pallete.getColor(primary, 700);
    padding: 24px;
    border-radius: 24px;

    .experience {
      margin-bottom: 12px;
      height: 100%;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      .timeline {
        mat-icon {
          color: pallete.getColor(secondary, 300);
          height: 50px;
          margin-bottom: 6px;

          transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .line {
          width: 2px;
          height: 100%;
          background-color: pallete.getColor(secondary, 300);

          transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }

      .description {
        padding-left: 24px;
        padding-bottom: 16px;
        transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        h2 {
          height: 24px;
          padding-block: 3px 8px;
          color: pallete.getColor(primary,300);
          font-size: smaller;
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        h1 {
          font-size: 18px;
          font-weight: bold;
          padding-bottom: 12px;
        }

        p {
          color: pallete.getColor(primary, 100);
        }
      }

      &:hover {
        transform: translateX(4px);

        .description {
          h2 {
            color: pallete.getColor(primary, 100);
            transform: translateX(4px);
          }
        }

        .timeline {
          mat-icon {
            color: pallete.getColor(secondary, 100);
          }

          .line {
            background-color: pallete.getColor(secondary, 100);
          }
        }
      }
    }
  }
}

section.project-section {
  .project-card {
    position: relative;
    background-color: pallete.getColor(primary, 700);
    border-radius: 24px;
    padding: 32px 24px 24px 24px;

    header {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      margin-bottom: 24px;

      h1 {
        font-size: 24px;
        font-weight: bold;
      }

      .actions {
        a:first-child {
          margin-right: 12px;
        }
      }
    }

    .project-card-body {
      margin-bottom: 24px;

      & > .project-card-body-content:first-child {
        margin-bottom: 24px !important;
      }

      mat-chip {
        margin-bottom: 8px;
        background-color: pallete.getColor(primary, 400);

        ::ng-deep {
          * {
            color: pallete.getColor(primary, 100);
          }
        }
      }
    }

    footer {
      height: 100%;

      .progress-container {
        span * {
          color: pallete.getColor(primary, 300);
          font-size: smaller;
          margin-bottom: 8px;
        }
      }
    }
  }
}

section.contact-section {
  margin-block: 64px;
  border-top: solid 1px pallete.getColor(primary, 400);

  & > div {
    .message-container {
      h3 {
        width: 50%;
        font-size: 24px;
        text-align: end;
        font-weight: bold;
      }
    }

    .contact-label {
      h3 {
        margin-top: 8px;
        font-size: smaller;
        color: pallete.getColor(primary, 100);
      }

      .social-button {
        margin-left: 8px;
        img {
          transform: rotateZ(-90deg) translateX(-4px);
          width: 32px;
          height: 32px;
        }

        &:hover {
          transform: translateX(8px);
        }
      }
    }
  }
}
